/* CSS styles for the lightbox */
#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  #lightbox-image {
    max-width: 90%;
    max-height: 90%;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 34px;
    cursor: pointer;
  }
  
  /* CSS styles for the gallery */
  .spf-gallery h1{
    text-align: center;
    margin-top: 40px;
    color: green;
  }

  .photos{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .pictures {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr)); /* Each column with minimum width of 200px */
    grid-gap: 20px; /* Gap between grid items */
    text-align: center;
  }
  
  .gallery{
    width: 80%;
  }

  /* for gallery images */
  .image {
    width: 100%; /* Fixed width */
    height: auto; /* Fixed height */
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    border: 2.5px solid black;
  }
  
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure images cover the fixed-size container */
  }
  
  /* For news cutouts */
  .media {
    width: 100%; /* Fixed width */
    height: 300px; /* Fixed height */
    overflow: hidden;
    position: relative;
    border: 2px solid black;
  }

  .media img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure images cover the fixed-size container */
  }

  .hidden {
    display: none;
  }

  .work{
    margin: 20px 0px 50px 0px;
    border: 25px groove;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .work h3{
    margin: 20px 0px;
    border-bottom: 3px groove;
  }

  .work h5{
    margin: 20px 0px;
    color: rgba(0, 0, 0, 0.6);
  }

  .headLine{
    display: flex;
    text-align: center;
    justify-content: space-between;
    /* align-self: flex-end; */
  }

  .head{
    width: 50%;
  }
  
  .mediaLink{
    width: 40%;
    display: flex;
    align-items: flex-end;
  }

  .mediaLink a{
    margin: 0px;
    width: 100%;
    color: green;
    font-size: 18px;
    text-decoration: underline;
  }

  .mediaLink a:hover{
    color: black;
  }

  @media screen and (max-width: 395px) {
    .pictures{
      grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    }

    .work h3{
      font-size: 19.5px;
    }

    .head h1{
      font-size: 17px;
    }

    .mediaLink a{
      font-size: 10px;
    }
  }

  @media (min-width:395px) and (max-width:510px) {
    .head h1{
      font-size: 22px;
    }

    .mediaLink a{
      font-size: 12px;
    }

  }

  @media (min-width:510px) and (max-width:720px) {
    .head h1{
      font-size: 26px;
    }

    .mediaLink a{
      font-size: 13px;
    }

  }