.splide {
    width: 100% !important;
}

.splide__slide {
    width: 100%;
    height: calc(100vh - 120px - 10vh);
}

.splide__slide .splide_carousel__container {
    width: 100%;
    height: 100%;
    position: relative;
}

.splide__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.splide__arrows {
    display: none !important;
}


@media screen and (max-width: 768px) {
    .splide__img {
        border-radius: 0 !important;
    }

    .splide__slide {
        height: calc(100vh - 120px - 20vh - 50px);
    }

    #text__splide,
    .splide__track {
        height: 200px;
    }
}