.splide {
    width: 100% !important;
}

.splide__slide {
    width: 100%;
    height: calc(100vh - 120px - 10vh);
}

.splide__slide .splide_carousel__container {
    width: 100%;
    height: 100%;
}

.splide_carousel__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.splide__arrow {
    background: #fff !important;
    border-radius: 0% !important;
    padding: 30px 20px !important;
}

.splide__arrows__svg {
    width: 50px;
    height: 50px;
}