.footer__container {
    width: 100%;
    height: fit-content;
    padding: 50px 0 0 0;
    font-size: 18px;
    color: var(--white);
    background-color: var(--sage);
}

.footer__grp__container {
    width: 95%;
    flex-wrap: wrap;
}

.footer__items {
    flex: 1;
}

.footer__address {
    padding: 0 50px;
}

.quick__header,
.address__header,
.social__header {
    text-align: center;
    padding-bottom: 30px;
}

.phone {
    padding-top: 10px;
    padding-left: 10px;
    color: var(--white);
    display: inline-block;
    text-decoration: none;
}

.footer__ngo__logo {
    width: 200px;
    height: 200px;
}

.short__desc {
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0;
    text-align: center;
}

.quick__links__ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.quick__links {
    font-weight: 600;
    margin: 20px 0;
    color: var(--white);
    text-align: center;
    text-decoration: none;
}

.social__media__item {
    width: fit-content;
    padding-top: 20px;
}

.social__media__icon {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    cursor: pointer;
    object-fit: cover;
}

.right__container {
    width: 100%;
    font-size: 18px;
    text-align: center;
    padding: 20px 0;
    font-weight: 600;
    border-top: 1px solid #fff;
}

.referral {
    color: var(--white);
    text-decoration: none;
    text-decoration: underline;
}

@media screen and (max-width:768px) {
    .footer__container {
        font-size: 16px !important;
    }

    .footer__ngo__logo {
        width: 150px;
        height: 150px;
    }

    .quick__header,
    .address__header,
    .social__header {
        padding: 20px 0;
    }

    .quick__links {
        margin: 10px 0;
    }

    .right__container {
        font-size: 16px;
        padding: 20px 10px;

    }


    .footer__grp__container {
        flex-direction: column !important;
    }

    .social__media__item {
        padding-bottom: 20px;
        flex-direction: row !important;
    }

    .social__media__icon {
        width: 30px;
        height: 30px;
    }
}