.nav__container {
    width: 100%;
    height: 120px;
    background-color: var(--white);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.nav__hamburger__container,
.ngo__name__container {
    width: 40%;
    height: 100%;
    align-items: center;
}

.ngo__name__container {
    padding-left: 50px;
}

.ngo__name__container .ngo__name {
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--green);

}

.ngo__logo__container {
    width: 20%;
    height: 100%;
}

.ngo__logo__container .logo_img {
    width: 90px;
    object-fit: contain;
}

.nav__hamburger__container {
    /* padding-right: 50px; */
    justify-content: flex-end;
}

.hamburger__btn {
    width: 100px;
    height: 50px;
    border: none;
    background-color: transparent;
}


.hamburger__icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.hamburger__icon--active {
    rotate: 90deg;
}

.menu__container {
    display: none;
}

.nav__menu__container--active {
    display: flex;
    flex-direction: column !important;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100;
    top: 0;
    justify-content: flex-start;
    background-color: var(--white);
}

.nav__menu__container--active .hamburger__btn {
    position: absolute;
    right: 0;
    top: 30px;
}

.nav__menu--active {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 120px);
}

.nav__menu__ul {
    list-style: none;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav__menu__ul li {
    text-align: center;
}

.nav__menu__ul li a {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}