@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@font-face {
  font-family: "Great Vibes";
  src: url("./assets/Fonts/GreatVibes-Regular.ttf");
}

:root {
  --white: #fff;
  --green: #29b729f8;
  --sage: #ADBC9F;
  --yellow: #FFB534;
  --orange: #E86A33;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: fit-content;
}

body {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  overflow-x: hidden;
}

p {
  font-size: 18px;
  line-height: 25px;
}


.nav__margin {
  margin-top: 130px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.cent {
  display: flex;
  align-items: center;
  justify-content: center;
}