@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
  --white: #fff;
  --green: #29b729f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: fit-content;
}

body {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  overflow-x: hidden;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.cent {
  display: flex;
  align-self: center;
  justify-content: center;
}